body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdbdbd;
}

header img{
    margin-left: 6vw;
    font-size: 2vw;
    width: 20vw;
    height: auto;
}

header nav{
    margin-right: 10vw;
}

header nav ul li {
    display: inline-block;
    margin: 2vw;
}

header nav a {
    box-sizing: border-box;
    font-size: 1.5vw;
    text-decoration: none;
    font-family: "Albert Sans", sans-serif;
    font-weight: 700;
    color: #55889e;
    -webkit-text-stroke: 0.08vw #000000;
}

.hero {
    background-color: #01616B;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDFAFA;
    padding: 0 4vw;
}

#info{
    padding: 0 5vw;
}

#info h1 {
    font-size: 3.5vw;
    font-family: "Albert Sans", sans-serif;
    font-weight: 300;
}

#info p {
    font-size: 1.5vw;
    margin: 3vw auto;
}

.hero img{
    margin: 0;
    width: 100%;
    max-width: 25vw;
    height: auto;
    padding-right: 8vw;
}

article {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555454;
}

article h2 {
    width: 25vw;
    max-height: 75vh;
    min-height: 30vh;
    color: #FDFAFA;
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 3.6vw;
}

article p{
    width: 50vw;
    max-height: 75vh;
    min-height: 30vh;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    justify-content: center;
    text-align: justify;
    background-color: #7e7a6f;
    color: rgb(226, 222, 222);
    padding: 6%;
    margin: 0;
}

main{
    background-color: #B7BFC5;
    display: grid;
    grid-column: auto;
    padding: 2em;
    color: white;
    place-content: center;
}

#main_txt{
    font-family: "Albert Sans", sans-serif;
    font-size: 2.5vw;
    letter-spacing: 0.2em;
    font-weight: 300;
    text-align: center;
    background-color: #555454;
    padding: 0.8em 0;
    width: 97%;
    margin: 4% auto 8% auto;
}

#n_services{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 9%;
    align-content: center;
    box-sizing: border-box;
}

#n_services div{
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    box-sizing: border-box;
    margin: 1%;
    width: 31%;
    min-block-size: 70%;
    display: grid;
    place-content: center;
    position: relative;
    text-align: center;
}

#n_services div p{
    z-index: 12;
    font-size: 1.6vw;
    font-family: "Albert Sans", sans-serif;
    font-weight: 500;
    padding: 1em;
}

#n_services div::before {
    background-color: #0000008f;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#n_services div:hover::before{
    background: #0000002d;
}


#service_1{
    background: url("https://images.pexels.com/photos/6394515/pexels-photo-6394515.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
}

#service_2{
    background: url("https://media.istockphoto.com/id/1318150161/es/foto/un-hombre-usando-una-herramienta-para-arreglar-partes-de-tuberías-durante-el-trabajo.jpg?b=1&s=612x612&w=0&k=20&c=f-UvceEUeSm9t-yQGbQ6GltgHKgEaffIqTKgaTKIuuY=");
}

#service_3{
    background: url("https://images.pexels.com/photos/1669754/pexels-photo-1669754.jpeg?auto=compress&cs=tinysrgb&w=600");
}

#service_4{
    background: url("https://images.pexels.com/photos/314073/pexels-photo-314073.jpeg?auto=compress&cs=tinysrgb&w=600");
}

#service_5{
    background: url("https://images.pexels.com/photos/6782474/pexels-photo-6782474.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
}

#service_6{
    background: url("https://i.pinimg.com/564x/da/4b/f0/da4bf0cb1e7f9a1c36ca546aaaf454bf.jpg");
}

.reseñas{
    padding: 2% 4%;
    background-color: #e2e2e2;
}
    
.reseñas h2{
    margin: 3% ;
    font-size: 2.5vw;
    text-decoration: underline;
}

#content_reseñas {
    padding: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0;
}

#content_reseñas *{
    border-right: 2px solid black; 
    border-left: 2px solid black; 
    background-color: #d4d4d4;
    display: block;
    margin: 0 4%;
    padding: 10% 5%;
}

#content_reseñas h1 {
    border-top: 2px solid black; 
    text-decoration: underline;
    font-size: 2vw;
    text-align: left;
}

#content_reseñas p {
    font-size: 1.3vw;
    padding: 0 5%;
}

#content_reseñas span{
    border-bottom: 2px solid black; 
    font-size: 2vw;
    text-align: center;
}

#contacto {
    background-color: #e2e2e2;
    padding: 5% 0;
} 

#contacto *{
    text-align: center;
    font-size: 1.4vw;
} 

@media (max-width: 800px) { 
    
    header img{width: 27vw;}
    header nav{margin-right: 4vw;}
    header nav a {font-size: 2.5vw;}
    .hero{align-items: inherit; padding: 0 2vw;}
    #info{padding: 0 6vw 5vh 3vw;}
    #info h1 {font-size: 6vw;}
    #info p {font-size: 2.5vw;}
    .hero img{max-width: 35vw; object-fit: cover; padding-right: 2vw;}
    article h2 {padding: 3% 0 3% 6%;}
    article p{font-size: 2.5vw; padding: 9%;}
    #n_services div p{font-size: 2.6vw;}
    #n_services{margin-top: 4%; margin-bottom: 9%;}
    .reseñas{margin: 0; padding:2vh 1vw;}
    #content_reseñas {padding: 1vw;}
    #content_reseñas *{padding: 12%; margin: 0 0.3vw;}
    .reseñas h2{font-size: 3.5vw;}
    #content_reseñas h1 {font-size: 2.7vw;}
    #content_reseñas p {font-size: 2.2vw; padding: 0 7%;}
    #content_reseñas span{font-size: 2.5vw;}
    #contacto *{font-size: 2.4vw;} 
}
