body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}

header {
    padding: 2.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #000;
    text-decoration: underline;
}

.hero {
    background-color: #01616B;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDFAFA;
    padding: 0em 6em;
}

.hero div{
    margin: 0 5em;
    padding: 0 3em;
}

.hero h1 {
    font-size: xxx-large;
    font-family: "Albert Sans", sans-serif;
    font-weight: 300;
}

.hero p {
    font-size: medium;
}

.hero img{
    margin: 0 4em ;
}

article {
    padding: 2em 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

article h2 {
    font-size: xxx-large;
    padding: 1em 2em;
    text-align: center;
}

article p{
    font-size: medium;
    justify-content: center;
    text-align: justify;
    margin: 0 1em
}

main{
    background-color: #B7BFC5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

main .main_txt{
    padding: 4em;
}

main .main_txt h2{
    font-size: xxx-large;
}

main .main_txt p{
    font-size: large;
}

main .n_services{
    display: inline-grid;
    grid-template-columns: auto auto;
}

main .n_services div{
    position: relative;
    text-align: center;
    color: white;
    background-color: #7d7d7d;
}

main .n_services div img{
    opacity: 0.3;
}

main .n_services div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.reseñas {
    padding: 2em;
}

.reseñas h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.reseña {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reseña p {
    font-size: medium;
    padding: 4em;
}

.contacto {
    padding: 2em;
}

.contacto h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

